<button type="button" name="button" (click)="getinfoFromServiceClass1()">
  Emp1
</button>
<ul class="list-group">
  <li *ngFor="let info of inforecieved1" class="list-group-item">{{ info }}</li>
</ul>
<pre></pre>

<button type="button" name="button" (click)="getinfoFromServiceClass2()">
Emp2
</button>
<ul class="list-group">
<li *ngFor="let info of inforecieved2" class="list-group-item">{{ info }}</li>
</ul>
<pre></pre>


<button type="button" name="button" (click)="getinfoFromServiceClass3()">
Emp3
</button>
<ul class="list-group">
<li *ngFor="let info of inforecieved3" class="list-group-item">{{ info }}</li>
</ul>
<pre></pre>
